
{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <time class="date">
                <h5>created_at</h5>{{ post.created_at }}
                <p></p>
                
                <h5>updated_at</h5>{{ post.updated_at }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
    
     
{% endblock %}

